.header {
  display: flex;
  background: #615a5f;
  align-items: center;
}

ul,
li {
  all: unset;
}

.header__navigation {
  flex: 2;
}

// .header__logo {
//   flex: 1;
// }

.header__logo>img {
  width: 100%;
  height: 30%;
  max-width: 100px;
}

.header__list {
  display: flex;
  padding: 0.7rem;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #fafafa;

}

.header__item {
  padding: 0.5rem 1rem;
  cursor: pointer;


  &:hover {
    background: #464641;
    color: #fff;
    border-radius: 5px;
  }


}