.main_content {
  height: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #424242ad;
  font-size: 1.3rem;
  width: 100%;
}

thead {
  background: #3e6a98;
  color: #eee;

  th {
    height: 31px;
    font-size: 1.5rem;
  }

  .sorting {
    cursor: pointer;
    &:hover {
      background-color: darken(#3e6a98,20%);
    }
  }

  .regions {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

tbody {
  tr {
    cursor: pointer;
  }

  tr:hover {
    background: #eee;
  }

  td:not(:first-child) {
    text-align: center;
  }
}


.select-region {
  border-radius: 4px;
  padding: 0.2rem;
  border: none;
  background-color: #3a3846;
  color: #fafafa;
}