table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #424242ad;
}

thead {
  background: #05cf05;
  color: #eee;

  th {
    height: 31px;
  }
}

tbody {
  tr:hover {
    background: #eee;
  }
}