table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #424242ad;
  font-size: 1.3rem;
}

thead {
  background: #05cf05;
  color: #eee;

  th {
    height: 31px;
    font-size: 1.5rem;
  }

  .regions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

tbody {
  tr {
    cursor: pointer;
  }

  tr:hover {
    background: #eee;
  }

  td:not(:first-child) {
    text-align: center;
  }
}