.country-item {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.country-header {
  display: flex;
  margin: 1rem 0.5rem;
  flex-direction: column;
  text-align: center;

  .country-flag {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0 0 2px 2px #a7a2a2;
  }
}

.country-details {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  flex-basis: 55%;
  margin-left: 4.6rem;

  >li {
    margin: 0.6rem 0;
    text-align: left;
  }

  .country-geo {
    display: flex;
    flex-direction: column;

    >ul>li {
      font-size: 1.3rem;
    }
  }

  .country__sublist {
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;
    margin-top: 0.5rem;
  }
}